.product-description-timeline {
    width: 631px;
    height: 222px;
    border: 1px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
}

.prodo-timeline::before {
    content: "";
    display: block;
    width: 2px;
    height: 594px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 95px;
    left: 55px;
}


.videoLine-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 556px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 95px;
    left: 55px;
}