.gradient-border {
  border: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%) 1;
  background:
    linear-gradient(#0A123E, #0A123E)padding-box,
    linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)border-box;
  border-radius: 50%;
}

.bg-image {
  background-image: url('/src/assets/Group\ 4002.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.story-crt {
  width: auto;
  height: 78px;

  box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 1px;
  border-style: solid;
  border-image: linear-gradient(129.29deg, #08E2FB 0%, #EC46E5 100%) 1;
  background:
    linear-gradient(#0A123E, #0A123E)padding-box,
    linear-gradient(129.29deg, #08E2FB 0%, #EC46E5 100%)border-box;
  border-radius: 22px;
}

.going-on {
  width: auto;
  height: auto;

  box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 1px;
  border-style: solid;
  border-image: linear-gradient(129.29deg, #08E2FB 0%, #EC46E5 100%) 1;
  background:
    linear-gradient(#0A123E, #0A123E)padding-box,
    linear-gradient(129.29deg, #08E2FB 0%, #EC46E5 100%)border-box;
  border-radius: 22px;
}

.progress {
  width: auto;
  height: 14px;
  border: 1px;
  border-style: solid;
  background-image: linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%);
  border-image: linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%) 1;
  background:
    linear-gradient(#0A123E, #0A123E)padding-box,
    linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)border-box;
  border-radius: 50%;
}

.progress-bar__fill {
  background-color: #e0e0e0;
}

textarea {
  color: white;
}

.wait {
  width: 131px;
  height: 27px;
  left: 729px;
  top: 691px;

  /* g */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 12px;

}

.selecttt {
  width: 150px;
  height: 26px;
  background: linear-gradient(180deg, #0E1A5C 0%, rgba(0, 7, 45, 0) 161.54%);
  border-radius: 22px;
}