.profile-col-layout {
    display: grid;
    grid-template-columns: 1210px 270px;
    gap: 10px;
}

.profile-bottom-1 {
    margin-left: 25px;
    display: grid;
    grid-template-columns: 350px 799px;
    gap: 20px;
    margin-top: 20px;
}

.changing {
    width: auto;
}