.tab-link {
    color: white;
}

.tab-link p {
    font-size: 12px;
}

.tab-link:hover {
    color: #00E7FC;
}

.cat-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1047px;
    height: 78px;
    border: 1px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
}

.active p {
    color: #00E7FC;
}