.tab-link {
    color: white;
}

.tab-link p {
    font-size: 12px;
}

.tab-link:hover {
    /* background: -webkit-linear-gradient(70deg, #00E7FC 2.07%, #EC46E5 98.58%);
    -webkit-background-clip: text;
    color: -webkit-linear-gradient(70deg, #00E7FC 2.07%, #EC46E5 98.58%);
    -webkit-text-fill-color: transparent; */
    background: linear-gradient(45deg, #FFD700, #FFA500);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}