.profile-user {
    background: -webkit-linear-gradient(70deg, #00E7FC 2.07%, #EC46E5 98.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pro-side {
    box-shadow: 2px 4px 9px 2px rgba(53, 53, 53, 0.25);
    border-left: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #2f2f2f 0%, #ffffff 51.04%, #3c3c3c 100%) 1;

}

.req-btn {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 12.5%, #FFFFFF 50%, rgba(255, 255, 255, 0) 87.5%);
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(90deg, rgba(255, 255, 255, 0) 12.5%, #FFFFFF 50%, rgba(255, 255, 255, 0) 87.5%)border-box;
}

.friend-bd-border {

    border: 1px solid;
    border-image: linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%) 1;
    background:
        linear-gradient(#00072D, #00072D)padding-box,
        linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)border-box;
    border-radius: 20px;

}

.time:before {
    content: "";
    display: block;
    width: 2px;
    height: 1125px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

.couple:before {
    content: "";
    display: block;
    width: 2px;
    height: 567px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

.couple2:before {
    content: "";
    display: block;
    width: 2px;
    height: 435px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 158px;
    left: 45px;

}

.second-comment:before {
    content: "";
    display: block;
    width: 2px;
    height: 206px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 67px;
    left: 87px;
}

.couple-second-comment:before {
    content: "";
    display: block;
    width: 2px;
    height: 164px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 67px;
    left: 87px;
}

.evet:before {
    content: "";
    display: block;
    width: 2px;
    height: 656px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

.dp-img {
    width: 77px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#00072D, #00072D)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
    padding: 1px;
    background-position: center;
}

.double-img {
    width: 284px;
    height: 207px;
    flex-shrink: 0;
    border: 2px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#00072D, #00072D)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
    padding: 1px;
}


.dp-feature {
    position: relative;
    top: 20px;
    left: -104px;
    width: 17px;
    height: 17px;
}

.videoLine:before {
    content: "";
    display: block;
    width: 2px;
    height: 500px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

.poli:before {
    content: "";
    display: block;
    width: 2px;
    height: 339px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

.time2x:before {
    content: "";
    display: block;
    width: 2px;
    height: 19px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

.skinny {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


.event-sec {
    border: 1px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 5px;
}

.family {
    border: 2px solid;
    border-image: linear-gradient(180deg, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%) 1;
    background:
        linear-gradient(#000000BF, #000000BF)padding-box,
        linear-gradient(180deg, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)border-box;
    border-radius: 20px;
}

.but {
    width: 56px;
    height: 18px;
    border: 2px solid;
    border-image: linear-gradient(180deg, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%) 1;
    background:
        linear-gradient(#5a5a5bd4, #13242F)padding-box,
        linear-gradient(180deg, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)border-box;
    border-radius: 20px;
}




.under {
    background: linear-gradient(180deg, rgba(0, 7, 45, 0.71) -77.53%, rgba(0, 7, 45, 0) 179.78%);

}

.squad {
    border: 2px solid;
    border-image: linear-gradient(180deg, rgba(239, 237, 237, 0.85) 0%, rgba(35, 31, 31, 0) 100%) 1;
    background:
        linear-gradient()padding-box,
        linear-gradient(180deg, rgba(239, 237, 237, 0.85) 0%, rgba(35, 31, 31, 0) 100%)border-box;
    border-radius: 20px;
}

.place {
    border: 2px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#000000BF, #000000BF)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) border-box;
    border-radius: 10px;
}

.pbc {
    border-right: 2px solid white;

}

.event-date {
    border-radius: 12px;
    border: px solid var(--ggg, #00E7FC);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}

/* linear-gradient(
    45deg,
    white 0%,
    transparent 80%
  ) */
/* linear-gradient(180deg, rgba(0, 7, 45, 0.71) -77.53%, rgba(0, 7, 45, 0) 179.78%) */
.ev {
    background-image: url('../../../assets/reply/event-bg.png');
    background-repeat: no-repeat;

    background-size: cover;
    height: 290px;

}

.after {
    width: 340px;
    margin-top: 10px;
    margin-left: 45px;
    border: 1px solid;
    border-image: linear-gradient(180deg, rgba(239, 237, 237, 0.85) 0%, rgba(35, 31, 31, 0) 100%) 1;
    background:
        linear-gradient(#000000BF, #000000BF)padding-box,
        linear-gradient(180deg, rgba(239, 237, 237, 0.85) 0%, rgba(35, 31, 31, 0) 100%)border-box;
    border-radius: 5px;

}

.tar {
    border: 1px solid;
    border-image: linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%) 1;
    background:
        linear-gradient(#050C36, #050C36)padding-box,
        linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%)border-box;
}

.state {
    border: 1px solid;
    border-image: linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%) 1;
    background:
        linear-gradient(#050C36, #050C36)padding-box,
        linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%)border-box;

}

.gradient-border {

    background-clip: padding-box;
    border: 2px solid transparent;
    border-color: linear-gradient(to right, #ff7f00, #ff1aff);
}

.time:before {
    content: "";
    display: block;
    width: 2px;
    height: 1125px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

.timex:before {
    content: "";
    display: block;
    width: 2px;
    height: 405px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}


/* poll codes started  */




input[type="radio"] {
    display: none;
}

label {
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
}

label span {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    width: 610px;
    height: 58px;
    background-color: #00072D;
    color: white;
    border-radius: 10px;
    transition: .25s ease;
}

input[type="radio"]:checked+span {
    background: linear-gradient(90.56deg, #00E7FC 6.93%, #EC46E5 97.89%);

    color: #00072D;
}

label span:before {
    content: "";
    background-color: #00072D;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .25s ease;
    box-shadow: inset 0 0 0 1px #00E7FC;
}

input[type="radio"]:checked+span:before {
    box-shadow: inset 0 0 0 10px #00E7FC;
    border: 1px solid #00072D;
}

/* donation part started  */
.donate-bg {
    background: linear-gradient(180deg, rgba(0, 7, 45, 0.71) -77.53%, rgba(0, 7, 45, 0) 179.78%);

}

.donate-btn {
    width: 100px;
    height: 35px;
    background: linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    color: white;
    border-radius: 10px;
}

.divider {
    width: 540px;
    border: 1px solid;
    color: #EC46E5;

}

.dona:before {
    content: "";
    display: block;
    width: 2px;
    height: 485px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;

}

/* product selling sections  */

.product-description {
    width: 609px;
    height: 222px;
    border: 1px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
}


.rate {
    width: 133px;
    height: 21.033px;
    border: 0.62px solid;

    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
}

.conti {
    border: 1px solid;
    border-image: linear-gradient(180deg, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(180deg, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)border-box;
    border-radius: 18.558px;
}

.couple-img img {
    border: 2px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
    padding: 1px;
}

.prodo::before {
    content: "";
    display: block;
    width: 2px;
    height: 592px;
    background: #00E7FC;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 45px;
}

/* article section design started  */
.article-bottom {
    width: 625px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 0px 0px 12px 12px;
    opacity: 0.2800000011920929;
    background: linear-gradient(140deg, #00E7FC 0%, #EC46E5 100%);
}

.article-button {
    width: 45px;
    height: 38.942px;
    flex-shrink: 0;
    border-radius: 50%;
    opacity: 0.8699999928474426;
    background: var(--f, linear-gradient(140deg, #00E7FC 0%, #EC46E5 100%));
}

/* style for load more button  */
.load {
    border: 1px solid;
    border-image: linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%)1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(129.29deg, #00E7FC 9.14%, #EC46E5 111.83%)border-box;
    border-radius: 18.558px;
}


/* username sell desgin started  */
.userSell {
    width: 610px;
    height: 380px;
    border: 1px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
}

.user-sell {
    background: -webkit-linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.sell-btn {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 12.5%, #FFFFFF 50%, rgba(255, 255, 255, 0) 87.5%);
    background:
        linear-gradient(#080E32, #080E32)padding-box,
        linear-gradient(90deg, rgba(255, 255, 255, 0) 12.5%, #FFFFFF 50%, rgba(255, 255, 255, 0) 87.5%)border-box;
}

.userSold {
    width: 610px;
    height: 430px;
    border: 1px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(#0A123E, #0A123E)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 12px;
}