media-time-slider [part='track'] {
    /* ... */
}

media-time-slider [part='track-fill'] {
    /* ... */
    color: blue;
    background-color: blue;
}

media-time-slider [part='thumb'] {
    /* ... */
}

/* Increase specificity by adding parent elements */
.your-parent-class .media-time-slider[part='track-fill'] {
    background-color: red;
}

.media-time-slider[part='track-fill'] {
    background-color: red !important;
}